# 依赖
.dart_tool/
.packages
build/
.pub/

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# 构建产物
*.so
*.dll
*.dylib
*.pyc

# 测试
.coverage
test/.test_coverage.dart

# 环境
.env
.env.local
.env.*.local

# 其他
*.log
.DS_Store
Thumbs.db
